body {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.gallery-container {
    text-align: center;
}

input {
    margin-top: 10px;
}

#imagePreview {
    margin-top: 20px;
}

img {
    max-width: 100%;
    max-height: 500px;
    margin-top: 10px;
}
